<%#= render :partial => "/shared/content_page" %>
<%#= render(:partial => "/shared/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
         
           
<div class="home_menu_container">
  <div class="home_menu">
    <%=link_to "", "/about", :class=> "about_us"%>
    <%=link_to "", "/operations", :class=> "operations"%>
    <%=link_to "", "", :class=> "team"%>
    <%=link_to "", "", :class=> "news"%>
    <%=link_to "", "", :class=> "careers"%>
    <%=link_to "", "/contact", :class=> "contacts", :id=>"left"%>
    <%=link_to "", "", :class=> "start"%>
    
  </div>
</div>
<script src="http://code.jquery.com/jquery-latest.js"></script>

<script>


$("#left").click(function(){
   $(".home_menu_container").animate({"left": "-=130px"}, "slow");  
   $(".contacts").animate({"left": "+=130px"}, "slow");
   $(".start").animate({"left": "+=130px"}, "slow");
  
});
  

</script>