<div class="right">
<section class='content'>
  <div class="about_title"></div>
<section id='body_content'>
  <%=raw @page.content_for(:body) %>
</section>
<section id='side_body_content'>
  <%=raw @page.content_for(:side_body) %>
</section>
</section>
 </div>
<div class="type_menu_container">
 <div class="type_menu">
   <%=link_to "", "/about", :class=> "type_about_us"%>
   <%=link_to "", "/operations", :class=> "type_operations"%>
   <%=link_to "", "", :class=> "type_team"%>
   <%=link_to "", "", :class=> "type_news"%>
   <%=link_to "", "", :class=> "type_careers"%>
   <%=link_to "", "", :class=> "type_contacts"%>
   <%=link_to "", "", :class=> "type_start"%>
 </div>
</div>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rosario">  
<link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css" >