<div class="right">
<section class='content'>
  <h1><%=raw @page.title%></h1>
<section id='body_content'>
  <%=raw @page.content_for(:body) %>
</section>
<section id='side_body_content'>
  <%=raw @page.content_for(:side_body) %>
</section>
</section>
 </div>
<div class="type_menu_container">
 <div class="type_menu">
	 <a href="/about" class= "type_about_us"><div></div></a>
   <a href="/operations" class= "type_operations"><div></div></a>
   <a href="/team" class= "type_team"><div></div></a>
   <a href="/newsfeeds" class= "type_news"><div></div></a>
   <a href="/careers" class= "type_careers"><div></div></a>
   <%=link_to "", "", :class=> "type_contacts arrow"%>
   <%=link_to "", "", :class=> "type_start"%>
 </div>
</div>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rosario">  
<link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css" >