<%= stylesheet_link_tag "contact.css" %>
<div class="home_menu_container">
  <div class="home_menu">
    <%=link_to "", "/about", :class=> "about_us"%>
    <%=link_to "", "", :class=> "operations"%>
    <%=link_to "", "", :class=> "team"%>
    <%=link_to "", "", :class=> "news"%>
    <%=link_to "", "", :class=> "careers"%>
    <%=link_to "", "/contact", :class=> "contacts", :id=>"left"%>
    <%=link_to "", "", :class=> "start"%>
    
  </div>
</div>
<div class="right">
<section class='content'>

  <div class='inquiries'>
    <%=raw @page[Page.default_parts.first.to_sym] %>

    <%= form_for @inquiry do |f| %>
      <%= render :partial => "/shared/admin/error_messages",
                 :locals => {
                   :object => @inquiry,
                   :include_object_name => true
                 } %>
      <div class='field'>
        <%= f.required_label :name %>
        <%= f.text_field :name %>
      </div>
      <div class='field'>
        <%= f.required_label :email %>
        <%= f.text_field :email %>
      </div>
      <div class='field'>
        <%= f.label :phone %>
        <%= f.text_field :phone %>
      </div>
      <div class='field message_field'>
        <%= f.required_label :message  %>
        <%= f.text_area :message, :rows => 8 %>
      </div>
      <div class='actions'>
        <%= f.submit t('.send') %>
        <%= link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if RefinerySetting.find_or_set(:show_contact_privacy_link, false) %>
      </div>
    <% end %>
  </div>

  </div>
    </div>
<%#= render :partial => "/shared/content_page" %>
<script src="http://code.jquery.com/jquery-latest.js"></script>

<script>


$("#left").click(function(){
   $(".type_menu_container").animate({"left": "-=50px"}, "slow");  
  
  
});
  

</script>